.circle{
    border-radius: 50%;
    border-width: 1px;
    border-color: gray;
    width: 15px;
    height: 15px;
    -webkit-text-fill-color: red;
}

.item_col{
    position: relative;
    flex-basis: 33%;
    /* border:2px solid black; */
    margin:10px;
    box-sizing:border-box;
    border-radius:12px;
    transition: transform 0.3s ease;
}

.item_col:hover{
    transform: scale(1.2);
}

.item_col img{
   
    width:100%;
    border-radius: 12px; 
    
}

.item_col h3{
    display: block;
    color:white;
    position:absolute;
    height:11%;
    width:100%;
    top:100%;
    left:-5%;
    font-weight:500;
    font-size:25px;
    transition:1s;
}

.layer{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align: center;
}

.item_col:hover .layer{
    background-color:#ffffff7d;
}


.item_col:hover h3{
    /* background-color: darkseagreen; */
    display: block;
    color:black;
    top:40%;
    left:0%;
}

.row{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    padding:5px;
}

@media only screen and (max-width:700px){
    .row{
        flex-direction:column;
    }
    .header{
        min-height:90vh;
    }
}

.slide_in{
    animation: slideIn 2s ease-in-out forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .suj{
    text-align: left;
  }

  @media screen and (max-width: 761px) {
    /* CSS styles for screens with a maximum width of 761px */
    .suj{
        text-align: center;
    }
  }

  .sujal{
    padding: 0rem 0.5rem;
  }

  @media screen and (min-width: 768px) {
    /* CSS styles for screens with a maximum width of 761px */
    .sujal{
        padding: 0rem 8rem;
    }
  }
  @media only screen and (min-width:325px){
  .marginstyling{
        margin: auto;
  }
}